@import 'iconfont.css';
body {
  margin: 0;
  padding: 0;
  background: rgb(246, 246, 246);
  overflow-y: scroll;
}

@font-face {
  font-family: "iceland";
  src: url('./fonts/Iceland-Regular.ttf');
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.iconfont {
  display: inline-block;
}

.el-input--prefix .el-input__inner {
  padding-left: 40px;
}

.el-input__prefix {
  left: 8px;
}
.el-message-box {
  max-width: 80vw;
}
.el-dialog {
  max-width: 96vw;
}